<div class="container">
  <h1>Edit Product</h1>

    <%= form_for @product do |f| %>
      <div class="form-group">
        <%= f.label :name %>:
        <%= f.text_field :name, class: "form-control" %><br />
      </div>

      <div class="form-group">
        <%= f.label :price %>:
        <%= f.text_field :price, class: "form-control" %><br />
      </div>

      <div class="form-group">
        <%= f.label :description %>:
        <%= f.text_field :description, class: "form-control" %><br />
      </div>

      <div class="form-group">
        <%= f.label :quantity %>:
        <%= f.text_field :quantity, class: "form-control" %><br />
      </div>

      <div class="form-group">
        <%= f.label :category %>:
        <%= f.text_field :category, class: "form-control" %><br />
      </div>

      <div class="form-group">
        <%= f.label :supplier_id %>:
        <%= f.text_field :supplier_id, class: "form-control" %><br />
      </div>

      <div class="form-group">
        <%= f.fields_for :images do |image| %>
          <%= f.label :url %>
          <%= image.text_field :url, class: "form-control" %><br />
        <% end %>
      </div>

      <div class="show">
        <%= f.submit %>
      </div>
    <% end %>

    <div class="show">
      <%= form_tag "/products/#{@id}", method: :delete do %>
        <%= submit_tag "Delete Product" %>
      <% end %>
    </div>

<!-- <h1>Edit Images</h1>

    <%= form_for @product do |f| %>
      <div class="form-group">
        <%= f.fields_for :images do |image| %>
          <%= f.label :url %>
          <%= image.text_field :url, class: "form-control" %><br />
        <% end %>
      </div>
      <div class="show">
        <%= f.submit "Submit" %>
      </div>
    <% end %> -->

<h1>Add Images</h1>

<a href="/images/new?product_id=<%= @product.id %>">
  <button class="show">
  Add Image
  </button>
</a>

  <a href="/products/<%= @product.id %>">
  <button class="show">
  Return to This Product (Don't Update)
  </button>
  </a>
</div>