<div class="container">
  <h1>Edit Product</h1>

  <%= form_tag "/products/#{@id}", method: :patch do %>
    <div class="form-group">
      <%= label_tag :name %>
      <%= text_field_tag :name, @product.name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :price %>
      <%= text_field_tag :price, @product.price, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :description %>
      <%= text_field_tag :description, @product.description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :image, "Image URL" %>
      <%= text_field_tag :image, @product.image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity, @product.quantity, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :category %>
      <%= text_field_tag :category, @product.category, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= submit_tag "Update Product" %>
    </div>
  <% end %>

  <%= form_tag "/products/#{@id}", method: :delete do %>
    <%= submit_tag "Delete Product" %>
  <% end %>

    <%= form_for @product, url: "/products/#{@id}" do |f| %>
      <%= f.label :name %>:
      <%= f.text_field :name %><br />

      <%= f.label :price %>:
      <%= f.text_field :price %><br />

      <%= f.label :description %>:
      <%= f.text_field :description %><br />

      <%= f.label :image %>:
      <%= f.text_field :image %><br />

      <%= f.label :quantity %>:
      <%= f.text_field :quantity %><br />

      <%= f.label :category %>:
      <%= f.text_field :category %><br />

      <%= f.submit %>
    <% end %>

  <a href="/products/<%= @product.id %>">
  <button class="show">
  Return to This Product (Don't Update)
  </button>
  </a>
</div>