<h1>Products</h1>
<% if current_user && current_user.admin %>
  <div class="container">
    <a href="/products/new">
      <button class="show">New Product</button>
    </a>
  </div>
<% end %>
<div class="container">
  <div class="row product-row">
    <% @products.each do |product| %>
      <a href="/products/<%= product.id %>">
        <div class="col-md-3 product-cell">
          <% if product.images.any? %>
            <img src= <%= product.images.first.url %> />
          <% else %>
            <img src= "http://130.211.52.161/tradeo-content/themes/nucleare-pro/images/no-image-box.png" />
          <% end %>
            <p><%= product.name %></p>
            <% if product.sale_message == "Discount item!" %>
              <p class="discount">
            <% else %>
              <p class>
            <% end %>
            Price: <%= number_to_currency(product.price) %></p>
            <p>Description: <%= product.description %></p>
            <p>Quantity: <%= product.quantity %></p>
            <p>Categories: <% product.categories. each do |category| %>
                <%= category.name %>
              <% end %>
            </p>
        </div>
      </a>
    <% end %>
  </div>
</div>