<h1>Products</h1>
<div class="container">
  <div class="row product-row">
    <% @products.sort_by{ |product| product.category }.each do |product| %>
      <a href="/products/<%= product.id %>">
        <div class="col-md-3 product-cell">
            <img src= <%= product.image %> />
            <p><%= product.name %></p>
            <% if product.sale_message == "Discount item!" %>
              <p class="discount">
            <% else %>
              <p class>
            <% end %>
            Price: $<%= product.price %></p>
            <p>Description: <%= product.description %></p>
            <p>Quantity: <%= product.quantity %></p>
            <p>Category: <%= product.category %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>

<div class="container">
  <a href="/products/new">
    <button class="show">New Product</button>
  </a>
</div>