<div class="col-md-12 show">
  <p><%= @product.sale_message %></p>
  <% if @product.images.any? %>
    <img src= <%= @product.images.first.url %> />
  <% else %>
    <img src= "http://130.211.52.161/tradeo-content/themes/nucleare-pro/images/no-image-box.png" />
  <% end %>
  <p><%= @product.name %></p>
  <% if @product.sale_message == "Discount item!" %>
    <p class="discount">
  <% else %>
    <p class>
  <% end %>
  Price: <%= number_to_currency(@product.price) %></p>
  <p>Tax: <%= number_to_currency(@product.tax) %></p>
  <p>Total: <%= number_to_currency(@product.total) %></p>
  <p>Description: <%= @product.description %></p>
  <p>Quantity: <%= @product.quantity %></p>
  <p>Category: <%= @product.category %></p>
  <p>Supplier: <%= @product.supplier.name %></p>
  <p><%= @product.availability %></p>
</div>

<div class="gallery">
<h3>Product Images:</h3>
<% if @product.images.any? %>
  <% @product.images.each do |image| %>
    <a href="<%= image.url %>"><img src= <%= image.url %> /></a>
  <% end %>
<% end %>

<br>
<a href="/products">
<button class="show">
Back to All Products
</button>
</a>
<a href="/products/<%= @product.id %>/edit">
<button class="show">
Edit This Product
</button>
</a>