<div class="col-md-12 show">
  <p><%= @product.sale_message %></p>
  <% if @product.images.any? %>
    <img src= <%= @product.images.first.url %> />
  <% else %>
    <img src= "http://130.211.52.161/tradeo-content/themes/nucleare-pro/images/no-image-box.png" />
  <% end %>
  <p><%= @product.name %></p>
  <% if @product.sale_message == "Discount item!" %>
    <p class="discount">
  <% else %>
    <p class>
  <% end %>
  Price: <%= number_to_currency(@product.price) %></p>
  <p>Tax: <%= number_to_currency(@product.tax) %></p>
  <p>Total: <%= number_to_currency(@product.total) %></p>
  <p>Description: <%= @product.description %></p>
  <p>Quantity: <%= @product.quantity %></p>
  <p>Supplier: <%= @product.supplier.name %></p>
  <p><%= @product.availability %></p>
  <p>
  <% @product.categories.each do |category| %>
    <a href = "/products/?category_id=<%= category.id %>" >
      <%= category.name %>
    </a>
  <% end %>
  </p>
</div>

<div>
  <h1>Add To Cart</h1>

  <%= form_tag '/carted_products', method: :post do %>

    <div>
      <%= label_tag :quantity %>
      <%= text_field_tag :quantity %>
    </div>
    <div>
      <%= hidden_field_tag :product_id, value="#{@product.id}" %><br />
    </div>
    <div>
      <%= submit_tag "Add to Shopping Cart" %>
    </div>
   
  <% end %>
</div>

<div class="gallery">
<h3>Product Images:</h3>
<% if @product.images.any? %>
  <% @product.images.each do |image| %>
    <a href="<%= image.url %>"><img src= <%= image.url %> /></a>
  <% end %>
<% end %>

<br>
<a href="/products/<%= @product.id %>/edit">
<button class="show">
Edit This Product
</button>
</a>
<a href="/products">
<button class="show">
Back to All Products
</button>
</a>