<div class="container">
  <h1>Product Updated!</h1>
  <div class="col-md-12 show">
    <img src="<%= @image %>">
    <p>Name: <%= @name %></p>
    <p>Price: <%= @price %></p>
    <p>Description: <%= @description %></p>
    <p>Quantity: <%= @quantity %></p>
    <p>Category: <%= @category %></p>
  </div>

  <a href="/products/<%= @id %>">
    <button>
      Return To Product
    </button>
  </a>
  <br>
  <a href="/products">
    <button>
      Return Home
    </button>
  </a>
</div>